.wrap {
  display: flex;
  justify-content: center;
}
.main {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}
.bg {
  display: inline-block;
  width: 720px;
  margin: 0 auto;
}
